.image-and-name{
  top: 2px;
}

.profile_img_holder{
    border-radius: 4vh;
    border: 2px solid rgb(121, 121, 121);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_img_holder img{
    height: 250px;
    width: 250px;
    border-radius: 4vh;
}

.first-row{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 90%;
  align-items: center;
  justify-items: center;
  margin-top: 2vh;
 
  background-color: rgb(240, 244, 255);
  padding: 3vh;
  margin-right: 4vh;
  border-radius: 2vh;
  margin-left: 6vh;

}

.empInfoCard{
  background-color: rgba(35, 35, 35, 0.845);
  color: white;
  padding: 4vh;
  margin: 2vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid;
  border-radius: 3vh;
}

.empInfoLabel{
  font-size: 2.5vh;
  padding: 1vh;
}

.empInfoNumber{
  font-size: 4.5vh;
}

.name-and-info{
  display: flex;
  flex-direction: column;
}

.main-stats{
  display: flex;
}

.user-name-info{
  font-size: 6vh;
  font-weight: 600;
  margin-left: 2vh;
}


.second-row{
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  margin-left: 3vh;
  width: 95%;
}

.social-media{
  background-color: rgb(240, 244, 255);
  width: 25%;
  padding: 5vh;
  margin-right: 4vh;
  border-radius: 2vh;
  margin-left: 3vh;
}

.personal-details{
  background-color: rgb(240, 244, 255);
  width: 65%;
  padding: 5vh;
  border-radius: 2vh;
}

.personal-info-heading-link{
  font-size: 3vh;
  padding-bottom: 2vh;
  justify-self: center;
  font-weight: 500;
}

.personal-info-heading-perso{
  font-size: 4vh;
  justify-self: center;
  font-weight: 500;
  padding-bottom: 2vh;
}

.imp-link-link{
  display: flex;
  flex-direction: row;
  font-size: 2.5vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  align-items: center;
  text-decoration: none;
  color: black;
  font-style: normal;
}


.imp-link-link > a{
  text-decoration: none;
  color: black;
}

.logo-link{
  padding-right: 2vh;
  align-items: center;
}

.info-label{
  font-size: 3vh;
  font-weight: 500;
  width: 30%;
}
